$cor-principal: #191A19;
$cor-secundaria: #1E5128;

@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin cor-e-texto($cor-de-fundo, $cor-de-texto) {
        width: 50%;
        background-color: $cor-de-fundo;

        .texto{
            margin-top: 40%;
            text-align: center;
            color: $cor-de-texto;
            font-size: 100px;
        }
}

body{
    @include reset();
}

.container{
    height: 100vh;
    display: flex;
   
    .esquerdo{
        @include cor-e-texto($cor-principal, $cor-secundaria);
    }
    .direito{
        @include cor-e-texto($cor-secundaria, $cor-principal);
    }
}